<html>
    <head>
        <title>senha incorreta</title>
        <script>
            confirm("senha incorreta")
            window.location.replace("/room/<%= roomId %>")

        </script>
    </head>
</html>